<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>177772386943-l0g5helvj5scd7reh64o3tk8th3tmmtg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.177772386943-l0g5helvj5scd7reh64o3tk8th3tmmtg</string>
	<key>API_KEY</key>
	<string>AIzaSyABnF5PQbx_yTtVUR0za3fFYFEwkCF9jyw</string>
	<key>GCM_SENDER_ID</key>
	<string>177772386943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.misLabs</string>
	<key>PROJECT_ID</key>
	<string>mis-labs-e1bb0</string>
	<key>STORAGE_BUCKET</key>
	<string>mis-labs-e1bb0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177772386943:ios:aaad37c187886b84eebd4a</string>
</dict>
</plist>